body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffafa;
  padding: 0;
  margin: 0;
}

.Add-categoryButton {
  display: flex;
  justify-content: flex-end;
}

.budgetcard {
  margin-top: 1rem;
}

.BudgetCard-inside {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.progressbar {
  margin: 25px;
}

.cardbuttons {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 10px;
}


